*{
    margin: 0;
    padding: 0;
  }
  
  .projects{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .projects::-webkit-scrollbar {
    display: none;
  }