.aboutCard {
    width: 92vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #39FF14;
}
.aboutCard_Img {
    width: 100%;
    height: 130px;
    padding: 10px;
}
.aboutCard_Img>img {
    width: 130px;
    margin: 10px;
    margin-left: 20px;
}
.aboutCard_Info {
    width: 85%;
    height: 350px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 125px;
}
.aboutCard_Info>h3 {
    margin-bottom: 10px;
}
.aboutCard_Info>p {
    padding-left: 30px;
}
.aboutCard_InfoLink {
    cursor: pointer;
}